// SPDX-License-Identifier: (GPL-2.0+ OR X11)
/*
 * Copyright 2018 Icenowy Zheng <icenowy@aosc.io>
 */

/dts-v1/;
#include "suniv-f1c100s.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "LiShanwen";
	compatible = "allwinner,suniv-f1c100s";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		/delete-node/ framebuffer@0;
	};

	reg_vcc3v3: vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
};

&spi1 {
	status = "okay";
	st7789v@0 {
		compatible = "sitronix,st7789v";
               reg = <0>;
               spi-max-frequency = <32000000>;
               spi-cpol;
               spi-cpha;
               rotate = <0>;
               rgb;
               fps = <30>;
               buswidth = <8>;
               reset-gpios = <&pio 4 7 GPIO_ACTIVE_LOW>;
               dc-gpios = <&pio 4 10 GPIO_ACTIVE_LOW>;
               debug = <0>;
        };
};		

/*
&be0 {
	status = "okay";
};

&de {
	status = "okay";
};

*/

&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	broken-cd;
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe_pins>;
	status = "okay";
};

&otg_sram {
	status = "okay";
};

&usb_otg {
	dr_mode = "otg";
	status = "okay";
};

&usbphy {
	usb0_id_det-gpio = <&pio 4 2 GPIO_ACTIVE_HIGH>; /* PE2 */
	status = "okay";
};
